.dashboard_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.063);
    padding:20px 2%;
    .right {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
            height: 45px;
        }
        span.pipe {
            background-color: #2f3342;
            height: 30px;
            width: 2px;
        }
        .vertical_elipsis {
            height: 40px;
            width: 40px;
            border-radius: 5px;
            background: #2f3342;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                vertical-align: middle;
            }
        }
        .icons {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 0 10px;
            .icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2px;
                .box {
                    position: relative;
                    width: 20px;
                    i  {
                        font-size: 20px;
                    }
                    small {
                        position: absolute;
                        bottom: 100%;
                        left: 100%;
                        transform: translate(-50%, 50%);
                        background: #fa2843;
                        border-radius: 50%;
                        color: white;
                        font-size: 10px;
                        height: 17px;
                        width: 17px;
                        @include toCenter();
                    }
                }
                span {
                    font-size: 13px;
                    color: #798d96;
                }
            }
        }
        .colored_btn {
            background: linear-gradient(180deg,#020024,#0093e9 0,#80d0c7)!important;
            height: 38px;
            padding: 0 15px;
            border-radius: 9px;
            @include toCenter();
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            user-select: none;
        }
        .demo_account {
            background: #2f3342;
            height: 42px;
            padding: 0 20px;
            border-radius: 7px;
            margin-right: 20px;
            color: white;
            @include toCenter();
            gap: 6px;
            cursor: pointer;
            user-select: none;
            .two {
                display: flex;
                flex-direction: column;
                span {
                    font-size:8px;
                }
            }
            i {
                height: 20px;
                width: 20px;
                @include toCenter();
                border-radius: 50%;
                color: white;
                background: #8b8d96;
                font-size: 13px;
            }
        }
    }
}