.notifications_page {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
    .notifications_top {
        h2 {
            font-size: 30px;
            color: #383838;
            font-weight: bold;
        }
        .right {
            display: flex;
            gap: 15px;
            .toggle_buttons {
                display: flex;
                align-items: center;
                gap: 15px;
                a {
                    font-size: 13px;
                    font-weight: 600;
                    cursor:pointer;
                    &.active {
                        background: white;
                        border: 1px solid var(--border-color);
                        padding: 5px 10px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    select {
        padding: 5px 10px;
        border: 2px solid var(--border-color);
        border-radius: 6px;
    }
    .notifications_container {
        input[type=checkbox] {
            height: 20px;
            width:20px;
            &:checked {
                accent-color: var(--main-color);
                color: white;
                .fa {
                    color: red;
                }
            }
        }
        .notifications_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 2%;
            background: white;
            border: 1px solid var(--border-color);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            .left {
                display: flex;
                align-items: center;
                gap:10px;
            }
            .right {
                color:#adaead;
                font-weight: bold;
                font-size: 14px;
            }
        }
        .notifications_body {
            display: flex;
            flex-direction: column;
            .single_notification {
                &:last-child {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                border: 1px solid var(--border-color);
                border-top: 0;
                display: flex;
                align-items: center;
                cursor: pointer;
                background: white;
                padding:15px 2%;
                gap: 10px;
                border-bottom: 1px solid var(--border-color);
                img {
                    width:50px;
                    height:50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .text {
                    margin-left: 5px;
                    p {
                        font-size: 15px;
                        font-weight: 500;
                        color: black;
                    }
                    small {
                        color: #b6b6b6;
                        font-size: 14px;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                }
                .right_icons {
                    margin-left: auto;
                    display: flex;
                    gap: 10px;
                    .icon_box {
                        position: relative;
                        i {
                            color: #adaead;
                        }
                        &:hover {
                            --arrow_width:5px;
                            &.eye:before {
                                content: 'Mark Unread';
                            }
                            &.trash:before {
                                content: 'Delete';
                            }
                            &::before {
                                position: absolute;
                                left: 50%;
                                bottom: calc(100% + var(--arrow_width) + 4px);
                                transform: translateX(-50%);
                                white-space: nowrap;
                                font-size: 10px;
                                background: #383838;
                                color: white;
                                padding: 5px 10px;
                                border-radius: 5px;
                                animation: fade .3s linear;
                            }
                            &::after {
                                content: "";
                                border-right: 4px solid transparent;
                                border-left: 4px solid transparent;
                                border-top: var(--arrow_width) solid #383838;
                                position: absolute;
                                left: 50%;
                                bottom: calc(100% + 4px);
                                transform: translateX(-50%);
                                animation: fade_left .3s linear;
                            }
                            @keyframes fade {
                                from { 
                                    opacity: 0;
                                } to { 
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}