* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif; }

.tables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  padding: 40px;
  background-image: url(../images/Green-back-1.jpg);
  background-repeat: repeat;
  background-size: 1000px;
  background-position: center center; }
  .tables .table {
    width: 100%; }
    .tables .table:nth-child(2) {
      margin-top: 40px; }
    .tables .table:last-child {
      margin-top: 40px; }

@media (max-width: 1024px) {
  .tables {
    grid-template-columns: 1fr;
    padding: 2.5%; }
    .tables .table {
      width: 100%; }
      .tables .table:nth-child(2) {
        margin-top: 0; }
      .tables .table:last-child {
        margin-top: 0; } }
.table {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-radius: 10px;
  overflow: hidden;
  max-height: fit-content; }
  .table .thead {
    display: grid;
    align-items: center;
    grid-template-columns: 65% 35%;
    padding: 20px;
    padding: 0 20px; }
    .table .thead .column {
      width: 100%;
      color: #4d9436;
      padding: 20px 0;
      font-weight: bold; }
      .table .thead .column:nth-child(1) {
        font-size: 20px;
        border-right: 2px solid #4d9436; }
      .table .thead .column:nth-child(2) {
        padding-left: 10px; }
  .table .tnav {
    background: #4d9436;
    color: white;
    padding: 0 20px;
    display: grid;
    width: 100%;
    grid-gap: 0;
    grid-template-columns: 25% 20% 20% 17.5% 17.5%;
    grid-template-areas: "a b c d e"; }
    .table .tnav .column {
      width: 100%;
      font-size: 13px;
      padding: 20px 0; }
      .table .tnav .column:nth-child(1) {
        grid-area: b; }
      .table .tnav .column:nth-child(2) {
        grid-area: c;
        border-right: 2px solid #4d9436; }
      .table .tnav .column:nth-child(3) {
        grid-area: d;
        grid-column: span 2;
        padding-left: 10px; }
  .table .row {
    color: black;
    padding: 0 20px;
    display: grid;
    width: 100%;
    grid-template-columns: 25% 20% 20% 17.5% 17.5%;
    grid-template-areas: "a b c d e";
    height: 100%; }
    .table .row .column {
      width: 100%;
      height: 100%;
      font-size: 13px;
      padding: 7px 0; }
      .table .row .column:nth-child(1) {
        grid-area: a; }
      .table .row .column:nth-child(2) {
        grid-area: b; }
      .table .row .column:nth-child(3) {
        grid-area: c;
        border-right: 2px solid #4d9436; }
      .table .row .column:nth-child(4) {
        grid-area: d;
        padding: 4px 0;
        padding-left: 10px;
        font-size: 12px;
        margin: 0; }
      .table .row .column:nth-child(5) {
        grid-area: e;
        padding: 4px 0;
        padding-left: 10px;
        text-align: right;
        font-size: 12px;
        margin: 0; }
  .table .tfooter {
    background: #4d9436;
    color: white;
    padding: 20px; }

.table.no_devider .thead {
  grid-template-columns: 100%; }
  .table.no_devider .thead .column {
    border-right: none; }
.table.no_devider .tnav {
  grid-template-columns: 25% 25% 25% 25%; }
.table.no_devider .row {
  grid-template-columns: 25% 25% 25% 25%; }
  .table.no_devider .row .column:nth-child(3) {
    border-right: none; }
.table.no_devider .tfooter {
  background: #4d9436;
  color: white;
  padding: 20px; }

/*# sourceMappingURL=main.css.map */
