@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.inbox_mobile_help {
    display: none;
}
.inbox_page {
    padding:20px 0;
    display: grid;
    grid-template-columns: 25% 75%;
    height: 650px;
    overflow: scroll;
    * {
        font-family: 'Poppins', sans-serif;
    }
    .inbox_left {
        background: white;
        border: 1px solid var(--border-color);
        padding: 20px 8px 20px 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
        .inbox_left_header {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3 {
                    font-size: 16px;
                }
                .icons {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                }
            }
            .bottom {
                .search_field {
                    display: flex;
                    position: relative;
                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 30px;
                        font-size: 12px;
                        color: gray;
                        @include toCenter();
                    }
                    input{
                        width: 100%;
                        background: white;
                        border: 1px solid var(--border-color);
                        border-radius: 5px;
                        padding-left: 30px;
                        height: 30px;
                        &::placeholder {
                            color: gray;
                        }
                    }
                }
            }
        }
        .inbox_left_body {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            height:80%;
            #no_results {
                @include toCenter();
                flex-direction: column;
                padding: 50px 0;
                width: 100%;
                display: none;
                gap: 10px;
                i {
                    font-size: 50px;
                    color: #222222;
                }
                h5 {
                    font-size: 18px;
                }
                p {
                    color: #c0c0c0;
                    font-size: 12px;
                    text-align: center;
                }
                &.show {
                    display: flex;
                }
            }
            .contact_component {
                position: relative;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px 5px;
                border-radius: 5px;
                cursor: pointer;
                transition: .3s;
                background: white; 
                margin-right: 8px;
                &.hide {
                    display: none !important;
                }
                &.unread_message::after {
                    content: '\f111';
                    font-family: 'Font Awesome 6 pro';
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-weight: bold;
                    color: #ff703d;
                    opacity: 1;
                    pointer-events: all;
                    font-size: 10px;
                    @include toCenter();
                    transition: .3s;
                }
                .elipsis_dropdown {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 2;
                    pointer-events: none;
                    opacity: 0;
                    * {
                        user-select: none;
                    }
                    &:hover .elipsis{
                        background: white;
                        color: black;
                    }
                    .elipsis {
                        font-weight: bold;
                        color: gray;
                        transition: .3s;
                        font-size: 16px;
                        height: 20px;
                        width: 24px;
                        border-radius: 5px !important;
                        @include toCenter();
                    }
                    .dropdown_content {
                        position: absolute;
                        top: calc(100% + 5px);
                        right: 0;
                        background: white;
                        border-radius: 10px;
                        box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: .2);
                        padding: 10px;
                        display: none;
                        &.show {
                            display: block;
                        }
                        .option {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding: 7px;
                            white-space: nowrap;
                            font-size: 12px;
                            border-radius: 5px;
                            &:hover {
                                background: #eee;
                                font-weight: bold;
                            }
                            &.danger_option:hover {
                                background: #ffaaac;
                            }
                            i {
                                color: rgb(90, 90, 90);
                                font-size: 10px;
                            }
                        }
                    }
                }
                &:hover {
                    background: #fff1ec;
                    &::after { 
                        opacity: 0;
                        pointer-events: none;
                    }
                    .elipsis_dropdown {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
                .group_image {
                    position: relative;
                    height: 50px;
                    width: 50px;
                    img {
                        height: 70%;
                        height: 70%;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 3px solid white;
                        position: absolute;
                        top: 0;
                        left: 0;
                        &:last-child {
                            left: 100%;
                            top: 100%;
                            transform: translate(-100% , -100%);
                        }
                    }
                }
                img.contact_image {
                    border-radius: 50%;
                    object-fit: cover;
                    height: 50px;
                    width: 50px;
                }
                .contact_info {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    h4 {
                        font-size: 14px;
                        font-weight: 600;
                        color: #212121;
                    }
                    .chat_and_date {
                        display: flex;
                        font-size: 12px;
                        .chat_txt {
                            color: black;
                            font-weight: 600;
                        }
                        .chat_date {
                            color: gray;
                            display: flex;
                            align-items: center;
                            &::before {
                                content: '\f111';
                                font-family: "Font Awesome 6 pro";
                                font-weight: bold;
                                margin: 0 7px;
                                font-size: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
    .inbox_right {
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        background: white;
        border: 1px solid var(--border-color);
        border-left: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: grid;
        grid-template-rows: 15% 85%;
        position: relative;
        .create_message_overlay {
            position: absolute;
            top: 0;
            left: 0;
            background: white;
            height: 100%;
            width: 100%;
            z-index: 10;
            flex-direction: column;
            display: none;
            border-radius: 10px;
            &.show {
                display: flex;
            }
            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 2%;
                border-bottom: 1px solid var(--border-color);
                position: relative;
                i {
                    cursor: pointer;
                }
                .to_container {
                    display: flex;
                    align-items: center;
                    width: 60%;
                    height: 60px;
                    input {
                        height: 100%;
                        width: 100%;
                        padding-left: 10px;
                        border: 0;
                    }
                }
                .hint {
                    position: absolute;
                    top:90%;
                    left: 5%;
                    background: white;
                    box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: .2);
                    padding: 10px;
                    border-radius: 5px;
                    color: gray;
                    font-size: 13px;
                    transition: .3s;
                    &.hide {
                        opacity: 0;
                        pointer-events: none;
                        transform: translateY(15px);
                    }
                }
            }
        }
        @media (max-width:1024px) {
            .create_message_overlay {
                border: 1px solid var(--border-color);
            }
        }
        .inbox_right_header {
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;
            border-bottom: 1px solid var(--border-color);
            padding: 0 2%;
            height: 100%;
            min-height:70px;
            .group_image {
                position: relative;
                height: 60px;
                width: 60px;
                img {
                    height: 70%;
                    height: 70%;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 3px solid white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    &:last-child {
                        left: 100%;
                        top: 100%;
                        transform: translate(-100% , -100%);
                    }
                }
            }
            .contact_info {
                display: flex;
                flex-direction: column;
                gap: 5px;
                small {
                    color: #b6b6b6;
                }
            }
            .elipsis_dropdown {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                cursor: pointer;
                * {
                    user-select: none;
                }
                &:hover .elipsis{
                    background: #fff1ec;
                    border: 1px solid var(--border-color);
                    color: black;
                }
                .elipsis {
                    font-weight: bold;
                    color: gray;
                    transition: .3s;
                    font-size: 16px;
                    height: 20px;
                    width: 24px;
                    border-radius: 5px !important;
                    @include toCenter();
                }
                .dropdown_content {
                    position: absolute;
                    top: calc(100% + 5px);
                    right: 0;
                    background: white;
                    border-radius: 10px;
                    box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: .2);
                    padding: 10px;
                    display: none;
                    &.show {
                        display: block;
                    }
                    .option {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 7px;
                        white-space: nowrap;
                        font-size: 12px;
                        border-radius: 5px;
                        &:hover {
                            background: #eee;
                            font-weight: bold;
                        }
                        &.danger_option:hover {
                            background: #ffaaac;
                        }
                        i {
                            color: rgb(90, 90, 90);
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .inbox_right_body {
            position: relative;
            display: grid;
            grid-template-rows: 70% 30%;
            height: 100%;
            .conversation {
                .conversation_start_date {
                    @include toCenter();
                    height: 80px;
                    font-weight: bolder;
                    font-size: 13px;
                    color: #adaead;
                    width: 100%;
                }
                height: 100%;
                overflow-y: scroll;
                .message {
                    display: flex;
                    align-items: flex-start;
                    gap: 10px;
                    width: 96%;
                    margin: 0 auto;
                    margin-bottom: 25px;
                    img.sender_image {
                        height: 45px;
                        width:45px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .message_right {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        .sender_details {
                            color: black;
                            font-weight: bold;
                            font-size: 13px;
                            span.message_time {
                                color: #b6b6b6;
                                font-weight: 500;
                                font-size: 12px;
                                padding-left: 5px;
                            }
                        }
                        .sender_message {
                            font-size: 15px;
                        }
                    }
                }
            }
            .create_message_container {
                height: 100%;
                max-height: 150px;
                margin-top: auto;
                padding: 10px;
                .create_message {
                    background: #fff;
                    border-radius: 13px;
                    width: 100%;
                    height: 100%;
                    input {
                        width: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        height: 50%;
                        padding: 20px;
                        width: 100%;
                        border: 1px solid var(--border-color); 
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                    .message-icon {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border: 1px solid var(--border-color); 
                        border-top: 0;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        height: 50%;
                        padding: 0 2%;
                        .left {
                            display: flex;
                            align-items: center;
                            gap:10px;
                            i {
                                border-radius: 10px;
                                font-size: 14px;
                                border-radius: 5px;
                                color: #c0c2c2;
                                font-size: 18px;
                                cursor: pointer;
                                transition: .2s;
                                &:hover { 
                                    color: black;
                                }
                            }
                        }
                        .right {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            a.send {
                                @include toCenter();
                                background: #ff703d;
                                height: 30px;
                                width: 30px;
                                border-radius: 5px;
                                color: white;
                                font-size: 12px;
                                opacity: .7;
                                transition: .2s;
                                &:hover {
                                    opacity: 1;
                                }
                            }
                            & > i {
                                color: #c0c2c2;
                                cursor: pointer;
                                height: 25px;
                                width: 25px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50% !important;
                                cursor: pointer;
                                font-size: 14px;
                                transition: .2s;
                                &:hover { 
                                    color: #ff703d;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .inbox_mobile_help {
        display: flex;
        align-items: center;
        padding: 10px 5%;
        background: #fff1ec;
        gap: 10px;
        border: 1px solid var(--border-color);
        border-radius: 10px;
        margin-top: 10px;
        i {
            color: #ff703d;
            font-size: 14px;
        }
        color: black;
        font-weight: bolder;
        font-size: 12px;
    }
    .inbox_page {
        grid-template-columns: 1fr;
        position: relative;
        overflow: unset;
        .inbox_left {
            position: absolute;
            z-index: 10;
            width: 100%;
            max-height: 75vh;
            top: 20px;
            border-radius: 10px;
            box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: .4);
            display: none;
            &.show {
                display: flex;
            }
        }
        .inbox_right {
            border-radius: 10px;
            border: 1px solid var(--border-color);
        }
    }
}