/* font family used in all the page */
@font-face {
  font-family: customFont;
  src: url(../fonts/PublicSans-Regular.ttf); }
/* global rules for all the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: customFont;
  outline: none; }

.dashboard_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.063);
  padding: 20px 2%; }
  .dashboard_header .right {
    display: flex;
    align-items: center;
    gap: 10px; }
    .dashboard_header .right img {
      height: 45px; }
    .dashboard_header .right span.pipe {
      background-color: #2f3342;
      height: 30px;
      width: 2px; }
    .dashboard_header .right .vertical_elipsis {
      height: 40px;
      width: 40px;
      border-radius: 5px;
      background: #2f3342;
      display: flex;
      align-items: center;
      justify-content: center; }
      .dashboard_header .right .vertical_elipsis i {
        vertical-align: middle; }
    .dashboard_header .right .icons {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 0 10px; }
      .dashboard_header .right .icons .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px; }
        .dashboard_header .right .icons .icon .box {
          position: relative;
          width: 20px; }
          .dashboard_header .right .icons .icon .box i {
            font-size: 20px; }
          .dashboard_header .right .icons .icon .box small {
            position: absolute;
            bottom: 100%;
            left: 100%;
            transform: translate(-50%, 50%);
            background: #fa2843;
            border-radius: 50%;
            color: white;
            font-size: 10px;
            height: 17px;
            width: 17px;
            display: flex;
            align-items: center;
            justify-content: center; }
        .dashboard_header .right .icons .icon span {
          font-size: 13px;
          color: #798d96; }
    .dashboard_header .right .colored_btn {
      background: linear-gradient(180deg, #020024, #0093e9 0, #80d0c7) !important;
      height: 38px;
      padding: 0 15px;
      border-radius: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      user-select: none; }
    .dashboard_header .right .demo_account {
      background: #2f3342;
      height: 42px;
      padding: 0 20px;
      border-radius: 7px;
      margin-right: 20px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      cursor: pointer;
      user-select: none; }
      .dashboard_header .right .demo_account .two {
        display: flex;
        flex-direction: column; }
        .dashboard_header .right .demo_account .two span {
          font-size: 8px; }
      .dashboard_header .right .demo_account i {
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: white;
        background: #8b8d96;
        font-size: 13px; }

/* Body quick styles to help reduce the code*/
body {
  background: #011022;
  color: white; }
  body.no-scroll {
    overflow-y: hidden; }
  body .hide {
    display: none !important; }

/* Styles of the top section containing main and header */
.hero {
  background-image: url(../images/background-hero.png);
  background-position: 50%;
  background-size: cover;
  height: 115vh;
  overflow: hidden; }
  .hero .header-placeholder {
    height: 80px; }
  .hero header {
    z-index: 20;
    transition: .5s;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 6.4%; }
    .hero header.show {
      background: #02142b;
      padding: 11px 6.4%; }
    .hero header .right {
      display: flex;
      gap: 15px; }
      .hero header .right a {
        padding: 10px 20px;
        background: #4d4e4e;
        border-radius: 10px;
        line-height: 20px;
        color: white;
        font-size: 18px;
        font-weight: bold; }
      .hero header .right a.blue {
        background: #77ccca;
        background: linear-gradient(0deg, #77ccca 5%, #22a3e0 100%); }
  .hero main {
    padding: 0 7%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between; }
    .hero main .left-text {
      margin-top: 130px;
      display: flex;
      flex-direction: column;
      gap: 35px;
      width: 50%; }
      .hero main .left-text h1 {
        color: white;
        font-size: 40px; }
      .hero main .left-text p {
        color: #ffffff80; }
      .hero main .left-text a {
        text-transform: uppercase;
        font-size: 15px;
        padding: 20px 40px;
        border-radius: 5px;
        width: fit-content;
        background: #77ccca;
        background: linear-gradient(0deg, #77ccca 5%, #22a3e0 100%); }
    .hero main img.right-photo {
      width: 470px; }

/* hero media for responsiveness goes here */
@media (max-width: 1000px) {
  .hero {
    height: auto; }
    .hero .header-placeholder {
      background: black;
      height: 60px; }
    .hero header {
      padding: 14px 2%; }
      .hero header img.logo {
        height: 30px; }
      .hero header .right a {
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 3px; }
    .hero main {
      flex-direction: column;
      height: auto;
      text-align: center;
      gap: 50px; }
      .hero main .left-text {
        width: 100%; }
        .hero main .left-text h1 {
          font-size: 20px; }
        .hero main .left-text p {
          font-size: 14px;
          width: 80%;
          margin: 0 auto; }
        .hero main .left-text a {
          font-size: 10px;
          padding: 15px 20px;
          margin: 0 auto; }
      .hero main img.right-photo {
        width: 60%;
        margin: 0 auto; } }
/* Styles of the section containing the logos */
.banner {
  background: white;
  padding: 30px 10%;
  display: flex;
  justify-content: space-between; }

/* banner media for responsiveness goes here */
@media (max-width: 1000px) {
  .banner {
    justify-content: center; }
    .banner img.will-disappear {
      display: none; } }
/* Styles of the about section */
.about {
  display: flex;
  padding: 150px 0;
  justify-content: space-between;
  align-items: center; }
  .about img.left {
    width: 35%; }
  .about .right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    padding-right: 100px;
    margin-left: auto;
    height: auto; }
    .about .right img {
      width: 300px; }
    .about .right h1 {
      font-weight: lighter;
      color: #0897e7;
      font-size: 40px;
      width: 70%; }
    .about .right p {
      color: #ffffff80; }

/* media for about for responsiveness goes here */
@media (max-width: 1000px) {
  .about {
    flex-direction: column-reverse;
    gap: 150px; }
    .about .right {
      width: 95%; }
      .about .right h1 {
        font-size: 24px; }
      .about .right p {
        font-size: 14px; }
      .about .right img.logo {
        width: 170px; }
    .about img.left {
      width: 360px; } }
/* Styles of the discover section */
.Discover {
  position: relative;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#0076ff));
  background-image: linear-gradient(#000, #0076ff);
  padding: 120px 0;
  border-radius: 0 0 60px 60px;
  z-index: 1;
  height: 600px; }
  .Discover::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 100%;
    background-image: url(../images/quickstart.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    pointer-events: none; }
  .Discover .text {
    z-index: 4; }
    .Discover .text h1 {
      color: #fff;
      font-size: 40px;
      line-height: 47px;
      font-weight: 700;
      margin: 0 auto 23px auto;
      text-align: center;
      max-width: 667px; }
    .Discover .text p {
      color: rgba(255, 255, 255, 0.4);
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      margin: 0 auto 30px auto;
      max-width: 667px; }
    .Discover .text a.button {
      color: #fff !important;
      background: -webkit-gradient(linear, left top, left bottom, from(#020024), color-stop(0, #0093e9), to(#80d0c7)) !important;
      background: linear-gradient(180deg, #020024, #0093e9 0, #80d0c7) !important;
      padding: 20px 45px;
      color: #fff;
      font-weight: 700 !important;
      font-size: 14px;
      -webkit-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out;
      border-radius: 8px; }
  .Discover img {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    z-index: 3; }

/* media for Discover for responsiveness goes here */
@media (max-width: 1000px) {
  .Discover {
    border-radius: 0 0 40px 40px;
    padding-bottom: 0px; }
    .Discover::before {
      top: 40%;
      width: 80%; }
    .Discover .text {
      width: 80%;
      margin: 0 auto; }
      .Discover .text h1 {
        font-size: 24px; }
      .Discover .text p {
        font-size: 14px; }
      .Discover .text a.button {
        font-size: 11px;
        padding: 15px 20px; } }
@media (max-width: 620px) {
  .Discover img.laptop {
    width: 95%;
    margin: 0 auto; } }
/* styles of the services section */
.services {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding: 350px 0 200px 0; }
  .services .top h1 {
    color: #0897e7;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 0;
    font-weight: 700;
    margin: 0 auto 20px auto;
    text-align: center;
    max-width: 667px; }
  .services .top p {
    font-size: 18px;
    line-height: 21px;
    color: #9eabbd;
    font-weight: 400;
    margin: 0 auto 80px auto;
    text-align: center;
    max-width: 667px; }
  .services .bottom {
    display: flex;
    gap: 30px;
    width: 85%;
    margin: 0 auto; }
    .services .bottom .content {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .services .bottom .content img {
        width: 120px;
        height: 120px; }
      .services .bottom .content span {
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px; }
      .services .bottom .content p {
        font-size: 16px;
        line-height: 19px;
        color: #9eabbd;
        margin-bottom: 0; }

@media (max-width: 1000px) {
  .services {
    width: 80%;
    margin: 0 auto; }
    .services .top h1 {
      font-size: 24px; }
    .services .top p {
      font-size: 14px; }
    .services .bottom {
      flex-direction: column; } }
@media (max-width: 6300px) {
  .services {
    width: 95%; } }
/* styles of the experience section */
.experience {
  position: relative;
  padding: 100px;
  background: #02142b;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px; }
  .experience .left {
    width: 40%; }
    .experience .left h1 {
      font-size: 40px;
      line-height: 47px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 30px;
      text-align: left; }
    .experience .left p {
      font-size: 16px;
      line-height: 19px;
      color: #9eabbd;
      max-width: 680px;
      margin: 0 auto;
      text-align: left; }
  .experience::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: white; }

@media (max-width: 1000px) {
  .experience {
    padding: 100px 5%;
    flex-direction: column;
    gap: 40px; }
    .experience .left {
      width: 100%; }
      .experience .left h1 {
        font-size: 24px; }
      .experience .left p {
        font-size: 14px; }
    .experience img.circle {
      width: 600px;
      max-width: 90%;
      margin: 0 auto; } }
/* styles of the journey section */
.journey {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0 10%;
  padding-top: 70px; }
  .journey .left {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .journey .left h1 {
      color: #0897e7;
      font-size: 42px;
      line-height: 49px;
      margin-bottom: 20px;
      text-align: left;
      font-weight: 700; }
    .journey .left p {
      color: #8b8d96;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 40px;
      text-align: left; }
    .journey .left a.button {
      width: fit-content;
      background: -webkit-gradient(linear, left top, left bottom, from(#020024), color-stop(0, #0093e9), to(#80d0c7));
      background: linear-gradient(180deg, #020024, #0093e9 0, #80d0c7);
      padding: 20px 45px;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      -webkit-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out;
      border-radius: 8px;
      cursor: pointer; }
  .journey img {
    width: 268px; }

@media (max-width: 1000px) {
  .journey {
    padding: 0 5%;
    padding-top: 65px;
    flex-direction: column;
    gap: 70px; }
    .journey .left h1 {
      font-size: 22px;
      text-align: center; }
    .journey .left p {
      font-size: 15px;
      text-align: center; }
    .journey .left a.button {
      padding: 15px 20px;
      font-size: 11px;
      margin: 0 auto; } }
/* styles of the footer section */
footer {
  background: #131626;
  padding: 20px 10% 50px 10%; }
  footer .top {
    border-bottom: 1px solid #242424;
    padding: 50px 0;
    margin: 0 auto;
    display: flex; }
    footer .top .links-logo {
      flex: 2; }
      footer .top .links-logo span {
        margin: 6px 0; }
      footer .top .links-logo img {
        width: 236px; }
      footer .top .links-logo span.copyright {
        display: block;
        color: rgba(255, 255, 255, 0.6);
        opacity: .6;
        font-size: 12px; }
      footer .top .links-logo span.email {
        color: #fff;
        font-size: 14px;
        letter-spacing: .01em; }
        footer .top .links-logo span.email a.mail {
          color: #0897e7;
          cursor: pointer;
          transition: .2s; }
          footer .top .links-logo span.email a.mail:hover {
            color: #fff; }
    footer .top .links {
      flex: 1; }
      footer .top .links h3 {
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 8px;
        font-weight: 700; }
      footer .top .links a {
        display: block;
        color: rgba(255, 255, 255, 0.6) !important;
        opacity: .6;
        line-height: 35px;
        font-size: 14px;
        transition: .3s; }
        footer .top .links a:hover {
          color: #0897e7 !important; }
    footer .top .button-container {
      flex: 2; }
      footer .top .button-container .button {
        margin: 0 auto;
        width: 160px;
        height: 45px;
        font-size: 14px;
        background-color: #171a2a !important;
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-radius: 5px;
        cursor: pointer; }
        footer .top .button-container .button img {
          margin-right: 0.5rem !important;
          width: 18px;
          height: fit-content;
          vertical-align: middle; }
        footer .top .button-container .button i {
          margin-left: auto; }
  footer .footer-text {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    opacity: .6;
    font-size: 14px;
    letter-spacing: .01em;
    line-height: 20px; }

@media (max-width: 1000px) {
  footer .top {
    flex-direction: column;
    gap: 15px; }
    footer .top .button-container .button {
      margin: unset; } }

/*# sourceMappingURL=main.css.map */
